.fs-pt-1{
    font-size: .1rem;
}
.fs-pt-2{
    font-size: .2rem;
}
.fs-pt-3{
    font-size: .3rem;
}
.fs-pt-4{
    font-size: .4rem;
}
.fs-pt-5{
    font-size: .5rem;
}
.fs-pt-6{
    font-size: .6rem;
}
.fs-pt-7{
    font-size: .7rem;
}
.fs-pt-8{
    font-size: .8rem;
}
.fs-pt-9{
    font-size: .9rem;
}

.fs-1{
    font-size: 1rem;
}

.fs-11{
    font-size: 1.1rem;
}

.fs-12{
    font-size: 1.2rem;
}

.fs-13{
    font-size: 1.3rem;
}

.fs-14{
    font-size: 1.4rem;
}

.fs-15{
    font-size: 1.5rem;
}

.fs-16{
    font-size: 1.6rem;
}

.fs-17{
    font-size: 1.7rem;
}

.fs-18{
    font-size: 1.8rem;
}

.fs-19{
    font-size: 1.9rem;
}

.fs-2{
    font-size: 2rem;
}

